<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">



<main>
    <div class="jumbotron">
        <h1>Add a new Student</h1>
    </div>

    <div class="d-flex flex-column">
        <a href="/">Home</a>
        
        <% if( errors != undefined) { %>
            <div class="alert alert-danger" role="alert">
                <ul>
                    <% errors.forEach(error => { %>
                        <li><%= error.msg %></li>
                    <% }); %>
                </ul>
            </div>
        <% } %>
    </div>

    <div class="d-flex flex-column">
        <form action="" method="POST">
            <div class="form-group">
                <label for="sid">Student ID</label>
                <input type="text" class="form-control" name="sid" id="sid" value="<%= student.sid %>" required>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" value="<%= student.name %>" required>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" class="form-control" name="age" id="age" value="<%= student.age %>" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Student</button>

        </form>
    </div>

    
</main>



</body>
</html>